.text-creamy{
    color: #ebebeb !important;
}
.text-dark{
    color: #666666 !important;
}
.bg-creamy{
    background-color: #EBEBAB !important;
}
.bg-dark{
    background-color: #666666 !important;
}